<div class="col-lg-4">
    <pc-refine-filters callback="getProperties"></pc-refine-filters>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Filters</h5>
        </div>
        <div class="panel-body">
            <ul class="no-bullets filters-list">
                <li class="filter-checkbox">
                    <input id="reposessed" value="repossessed" type="checkbox" name="checkbox" class="styled">
                    <label for="reposessed"><span></span><i class="icon-library icon16-library"></i>Reposessed</label>
                </li>
                <li class="filter-checkbox">
                    <input id="need-modernising" value="modernising" type="checkbox" name="checkbox" class="styled">
                    <label for="need-modernising"><span></span><i class="icon-tools icon16-tools"></i>Need Modernising</label>
                </li>
                <li class="filter-checkbox">
                    <input id="auction" value="auction" type="checkbox" name="checkbox" class="styled">
                    <label for="auction"><span></span><i class="icon-auction icon16-auction"></i>Auction</label>
                </li>
                <li class="filter-checkbox">
                    <input id="direct-to-vendor" value="dtv" type="checkbox" name="checkbox" class="styled">
                    <label for="direct-to-vendor"><span></span><i class="icon-users icon16-users"></i>Direct to Vendor</label>
                </li>
                <li class="filter-checkbox">
                    <input id="reduced-in-price" value="reduced" type="checkbox" name="checkbox" class="styled">
                    <label for="reduced-in-price"><span></span><i class="icon-chart icon16-chart"></i>Reduced in Price</label>
                </li>
                <li class="filter-checkbox">
                    <input id="cash-buyer" value="cash" type="checkbox" name="checkbox" class="styled">
                    <label for="cash-buyer"><span></span><i class="icon-chart icon16-chart"></i>Cash Buyer</label>
                </li>
            </ul>
        </div>
    </div>
</div>
