<!--<div class="pc-slider-wrapper">
    <div class="img-large">
        <img class="img-responsive property-detail-img" src="assets/images/properties/1.jpg" alt="">
    </div>
    <ul id="test" class="no-bullets">
        <li ng-style="itemStyle" data-ng-repeat="images in imagesSrc">
            <img ng-src="{{images.image}}">
        </li>
    </ul>
</div>-->
<div id="property-carousel" class="owl-carousel">
    <div class="item" data-ng-repeat="images in imagesSrc">
        <img class="img-responsive" ng-src="{{images.image}}" alt="">
        <a href="45.html" class="item-overlay">
            <h5 class="item-price">£250,000</h5>
            <h5 class="item-location">Lea Bridge Road, London E10</h5>
            <h5 class="item-income"><span>£1,650</span> Rental Income</h5>
            <h5 class="item-yield"><span>8%</span> Yield</h5>
        </a>
    </div>
</div>