<!-- Property Listing -->
<div class="property-listing comparables-listing" ng-repeat="comparable in obj.current">
    <div class="row">
        <div class="col-sm-8">
            <div class="property-title-group noPrice">
                <h4>{{compareTitle}}</h4>
                <span class="comp-market-price" pc-price-compare avg-price="avgPrice" property-price="comparable.price"></span>
            </div>
            <p class="comp-address">{{comparable.address | address | lowercase}}</p>
            <p class="distance">
                <i class="icon-location"></i>
                {{comparable.distance | walking | number: 0}} mins walk from this location
            </p>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="right-section-group">
                <h5 class="right-section-label">Sold Price</h5>
                <h3 class="right-section-value no-border">{{comparable.price | customCurrency: "£"}}</h3>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="right-section-group">
                <h5 class="right-section-label">
                    Date 
                    <i class="icon-help" tooltip="The date the property was sold." tooltip-placement="top" title="The date the property was sold."></i>
                </h5>
                <h3 class="right-section-value no-border" pc-comp-date-ago date-src="comparable.transactionDate"></h3>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger" ng-show="obj.noCompares" role="alert">
    <i class="icon-warning"></i>
    <span>Sorry!</span> No comparables found in this area. Other properties can be found below.
</div> 

<div class="more-button-wrap" ng-show="!obj.noMore && !obj.noCompares">
    <button ng-click="updateList()" id="more-properties-toggle" class="btn btn-lg btn-3d">More Comparables</button>
</div>
<div class="alert alert-danger"  ng-show="obj.noMore" role="alert">
    <i class="icon-warning"></i>
    <span>Sorry!</span> No more comparables found in the area. Other properties can be found below.
</div> 