<form ng-show="!toLetResults">
    <div class="form-group form-field-row">
        <label class="control-label col-sm-5 col-xs-7">
            Purchase Price:
            <i class="icon-help" tooltip="This price is subject to contract." tooltip-placement="top" title="This price is subject to contract."></i>
        </label>
        <div class="input-group col-sm-7 col-xs-5">
            <input class="form-control" ng-model="toLet.purchasePrice" placeholder="£125,000" pc-currency>
        </div>
    </div>
    <div class="form-group form-field-row">
        <label class="control-label col-sm-5 col-xs-7">Mortgage LTV:</label>
        <div class="input-group col-sm-7 col-xs-5">
            <input class="form-control" ng-model="toLet.mortgageLtv" placeholder="e.g.75%" pc-percent>
        </div>
    </div>
    <div class="form-group form-field-row">
        <label class="control-label col-sm-5 col-xs-7">Mortgage Rate:</label>
        <div class="input-group col-sm-7 col-xs-5">
            <input class="form-control" ng-model="toLet.mortgageRate" placeholder="e.g. 4.5%" pc-percent>
        </div>
    </div>
    <div class="form-group form-field-row">
        <label class="control-label col-sm-5 col-xs-7">Est. Rental Income:</label>
        <div class="input-group col-sm-7 col-xs-5">
            <input class="form-control" ng-model="toLet.estRentalIncome" placeholder="e.g. £850" pc-currency>
        </div>
    </div>
    <div class="form-group form-field-row">
        <label class="control-label col-sm-5 col-xs-7">Management Cost:</label>
        <div class="input-group col-sm-7 col-xs-5">
            <input class="form-control" ng-model="toLet.managementCost" placeholder="e.g. 5%" pc-percent>
        </div>
    </div>
    <div class="form-group form-field-row">
        <label class="control-label col-sm-5 col-xs-7">Maintenance Cost:</label>
        <div class="input-group col-sm-7 col-xs-5">
            <input class="form-control" ng-model="toLet.maintenanceCost" placeholder="e.g. 5%" pc-percent>
        </div>
    </div>
    <button class="btn btn-lg btn-3d calculate" ng-click="calculateToLetResults()">Calculate</button>
</form>

<div class="results" ng-show="toLetResults">
    <h4>Results:</h4>
    <div class="form-field-row">
        <h6 class="col-xs-6">Monthly Mortgage:</h6>
        <h5 class="col-xs-6"><span>{{toLet.monthlyMortgage | customCurrency: "£"}}</span></h5>
    </div>
    <div class="form-field-row">
        <h6 class="col-xs-6">Deposit Needed:</h6>
        <h5 class="col-xs-6"><span>{{toLet.depositNeeded | customCurrency: "£"}}</span></h5>
    </div>
    <div class="form-field-row">
        <h6 class="col-xs-6">Monthly Profit/ Loss:</h6>
        <h5 class="col-xs-6"><span>{{toLet.monthlyProfitOrLoss | customCurrency: "£"}}</span> per year</h5>
    </div>
    <div class="form-field-row">
        <h6 class="col-xs-6">Net Rental Yield:</h6>
        <h5 class="col-xs-6"><span>{{toLet.netRentalYield | percent}}</span></h5>
    </div>
    <div class="form-field-row">
        <h6 class="col-xs-6">True Rate of Return:</h6>
        <h5 class="col-xs-6"><span>{{toLet.trueRoR | percent}}</span></h5>
    </div>
    <button class="btn btn-lg btn-3d calculate" ng-click="reCalculateToLetResults()">Re-calculate</button>
</div>
