<div class="main-content">
    <div class="container">
        <h1 class="text-center bu-title">You're using an outdated browser. Please upgrade it to view this site.</h1>
        <ul id="browserupgrade" class="no-bullets">
            <li id="chrome">
                <a title="Google Chrome" href="http://www.google.com/chrome">
                    <div class="icon"></div>
                    <h2>Google Chrome</h2>
                    <p class="info">“A fast new browser from Google. Try&nbsp;it&nbsp;now!”</p>
                    <p class="version">Latest Version: <strong>39</strong></p>
                    <p class="website">Visit website for more info</p>
                </a>
            </li><!-- #chrome -->
            <li id="firefox">
                <a title="Mozilla Firefox" href="http://www.firefox.com/">
                    <div class="icon"></div>
                    <h2>Mozilla Firefox</h2>
                    <p class="info">“Your online security is Firefox's top priority. Firefox is free, and made to help you get the most out of the&nbsp;web.”</p>
                    <p class="version">Latest Version: <strong>34</strong></p>
                    <p class="website">Visit website for more info</p>
                </a>
            </li><!-- #firefox -->
            <li id="safari">
                <a title="Apple Safari" href="http://www.apple.com/safari/">
                    <div class="icon"></div>
                    <h2>Safari</h2>
                    <p class="info">“Safari for Mac from Apple, the world’s most innovative&nbsp;browser.”</p>
                    <p class="version">Latest Version: <strong>8</strong></p>
                    <p class="website">Visit website for more info</p>
                </a>
            </li><!-- #safari -->
            <!--<li id="opera">
                <a title="Opera" href="http://www.opera.com/">
                    <div class="icon"></div>
                    <h2>Opera</h2>
                    <p class="info">“The fastest browser on Earth&mdash;secure, powerful and easy to use, with excellent privacy protection. And&nbsp;it&nbsp;is&nbsp;free.”</p>
                    <p class="version">Latest Version: <strong>26</strong></p>
                    <p class="website">Visit website for more info</p>
                </a>
            </li><!-- #opera -->
            <li id="ie">
                <a title="Microsoft Internet Explorer" href="http://windows.microsoft.com/ie">
                    <div class="icon"></div>
                    <h2>Internet Explorer</h2>
                    <p class="info">“Designed to help you take control of your privacy and browse with confidence. Free from&nbsp;Microsoft.”</p>
                    <p class="version">Latest Version: <strong>11</strong></p>
                    <p class="website">Visit website for more info</p>
                </a>
            </li><!-- #ie -->
        </ul>
    </div>
</div>    