<header class="lern-more-header">
    <!-- nav template --> 
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
    <div class="jumbotron jumbo-v2 dark">
        <h1>Property Investment just got a lot <span>Easier</span>.</h1>
        <button class="play-btn" data-toggle="modal" data-target="#video">
          <i class="icon-play"></i>
        </button>
    </div>
    <!-- Modal -->
    <div class="modal video-modal fade" id="video" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="icon-cross icon18-cross"></i>
                    </button>
                    <iframe width="100%" height="400px" src="https://www.youtube.com/embed/i8v_7iD4_pQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div> 
            </div>
        </div>
    </div>
    
    
</header>
<section class="large-section text-center">
    <div class="container">
        <h2>Why invest in <span>Property?</span></h2>
        
        <div class="row">
            <div class="col-md-4">
                <div class="fact-box first-box">
                    <blockquote>Analysis by Paragon shows every £1,000 invested in an average buy-to-let property in the final quarter of 1996 would have been worth £13,048 by the final quarter of 2013.</blockquote>
                    <div class="source-logo">
                        <img src="assets/images/third-party-logos/this-is-money-logo.jpg" alt="This is Money Logo">
                    </div>
                    <a href="http://www.thisismoney.co.uk">www.thisismoney.co.uk</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fact-box second-box">
                    <blockquote>Buy to let investors expect their investment to contribute £20k a year towards their retirement.</blockquote>
                    <div class="source-logo">
                        <img src="assets/images/third-party-logos/this-is-money-logo.jpg" alt="This is Money Logo">
                    </div>
                    <a href="http://www.thisismoney.co.uk">www.thisismoney.co.uk</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fact-box third-box">
                    <blockquote>About 78 per cent of landlords see their investment in buy-to-lets as a pension, according to a report by auctioneers and property consultants Allsop and market researchers BDRC Continental.</blockquote>
                    <div class="source-logo">
                        <img src="assets/images/third-party-logos/the-telegraph-logo.jpg" alt="The telegraph Logo">
                    </div>
                    <a href="http://www.telegraph.co.uk">www.telegraph.co.uk</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="large-section text-center dark potential-ways">
    <div class="container">
        <h2>There are 2 main potential ways to make a return from investing in <span>Property</span></h2>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-1 col-sm-6">
                <div class="feautred-boxes-num">
                    <div class="title">
                        <div class="num">1</div>
                        <h3>Capital Gains</h3>
                    </div>
                    <p>This is the profit you make when you buy a property and later sell it for a higher price. </p>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-6">
                <div class="feautred-boxes-num">
                    <div class="title">
                        <div class="num">2</div>
                        <h3>Rental Yield</h3>
                    </div>
                    <p>First you earn income by letting out the property to a tenant. The rental yield is the net income once you minus the running cost, maintenance and letting agent fees. </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="large-section text-center">
    <div class="container">
        <h2>Our Tips for investing in <span>Property</span></h2>
        
        <accordion class="accordion">
            <accordion-group is-open="accordion.status.first" ng-class="{'panel-primary': accordion.status.first}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.first, 'icon-arrow-down7': !accordion.status.first}"></i>
                    Find good investment property
                </accordion-heading>
                <p>Find properties in desirable areas with good commute links, an area that is popular with families or has a sizeable university. Another indicator is the regeneration in the area, as this tend to attract better off population. i.e people that can afford higher property prices and rents.</p>
                <p>Looking at properties that need improvement is a good way to boost the value of your investment. Tired properties or outdated properties can be negotiated hard on to get a better price and then renovated to add value. However, remember to ensure that the purchase price is low enough to cover refurbishment and some profit, and allow for the inevitable over-run on costs.</p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.second" ng-class="{'panel-primary': accordion.status.second}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.second, 'icon-arrow-down7': !accordion.status.second}"></i>
                    Know your numbers
                </accordion-heading>
                <p>Focus on your local economy. Do not be distracted by what’s happening everywhere else but focus more on the activities in the area you plan to invest in. i.e Are prices rising or falling?</p>
                <p>Before making an offer on a property, be aware of what similar properties are valued at or renting for. Run some numbers on each property you are interested in to gauge the potential return on investment. Do not waste time viewing a property if the numbers do not stack up. i.e the property is overvalued or weak rental in the area. </p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.third" ng-class="{'panel-primary': accordion.status.third}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.third, 'icon-arrow-down7': !accordion.status.third}"></i>
                    Gross rental yield
                </accordion-heading>
                <div class="media">
                  <a class="pull-left" href="#">
                    <img src="assets/images/learn-more-ery-ss.jpg" alt="Estimated Rental Yield Screenshot">
                  </a>
                  <div class="media-body">
                    <p>Our system calculates the rental yield for a property - by dividing the yearly rental income on a property by the asking price.</p>
                <p>i.e If Property A is for Sale @ £150,000, and the yearly rental income for similar properties is £7,200. </p>
                <p>The rental yield is - 7,200 /150,000 = 0.048</p>
                <p>0.048 * 100 = 4.8%</p>
                  </div>
                </div>
                
                
            </accordion-group>
            
            <accordion-group is-open="accordion.status.fourth" ng-class="{'panel-primary': accordion.status.fourth}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.fourth, 'icon-arrow-down7': !accordion.status.fourth}"></i>
                    Buy to let Mortgages
                </accordion-heading>
                <p>For Buy to let mortgages there is a tendency for mortgage providers to require a higher deposit, and lending is based on rental income.  Getting advice from independent mortgage broker can help access the whole market and help choose the product that is right for you. Your buy to let mortgage needs to suit your personal requirements and circumstances to help meet your investment objectives.</p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.fifth" ng-class="{'panel-primary': accordion.status.fifth}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.fifth, 'icon-arrow-down7': !accordion.status.fifth}"></i>
                    Make an Offer
                </accordion-heading>
                <p>Although the conventional wisdom is “cheaper is better” since finding an undervalued properties means that an investor might be making a profit from day 1, we believe an investor should wear many thinking hats. i.e There are opportunities to buy properties that can be extended or converted to extend their value. These types of properties might not necessarily be undervalued but the process of extending the property or converting can increase the valuation of the property. For example, converting a 2 bedroom house into a 3 bed. </p>
                <p>When making an offer on a properties, consider all options and find a price point that doesn’t break the bank. Remember that you are not planning to live there (this is not your dream home) so leave all emotions at the door. Focus on the numbers.</p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.sixth" ng-class="{'panel-primary': accordion.status.sixth}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.sixth, 'icon-arrow-down7': !accordion.status.sixth}"></i>
                    Appoint a letting Agent Vs Self Managing 
                </accordion-heading>
                <p>Some landlords choose to employ letting agents to market and manage their buy to let properties, while others choose to handle the process themselves. There is no right or wrong answer to this, it all depends on the time you can afford to dedicate to the process. </p>
                <p>Property management can be time consuming, with a lot of checks to go through before you can let out your property. However, letting agents have wealth of experience that you can benefit from; such as tenant checks and managing the wear & tear of the property.</p>
                <p>Emphasis should be placed on tenant checks as a bad tenant can cost tens of thousands of damage to property. If a tenant doesn’t pay rent, there is added pressure to cover mortgage payments. </p>
                <p>If you decide to go with a letting agent, only choose an agent who is a member of <a href="http://www.nalscheme.co.uk/">NALS</a> and/or <a href="http://www.arla.co.uk/">ARLA</a>.</p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.seventh" ng-class="{'panel-primary': accordion.status.seventh}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.seventh, 'icon-arrow-down7': !accordion.status.seventh}"></i>
                    Renovation
                </accordion-heading>
                <p>If there is work to be done on the property, it is advisable to take a builder with you before making an offer. They will be able to provide an estimate on the cost of renovating or bringing the property up to standard. This cost needs to be factored in the purchase price. In some cases, the seller will be open to negotiating the asking price to make room for the cost of renovation. Feel free to let the seller know your intentions on the work to be carried out on the property. </p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.eighth" ng-class="{'panel-primary': accordion.status.eighth}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.eighth, 'icon-arrow-down7': !accordion.status.eighth}"></i>
                    Tenancy Deposit Schemes
                </accordion-heading>
                <p>It’s now a legal requirement for landlords to place tenants’ deposits in an approved deposit protection scheme within 30 days of receipt (formerly 14 days). Failure to do so could result in a court ordering a landlord to pay the tenant three times the amount of the deposit.</p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.ninth" ng-class="{'panel-primary': accordion.status.ninth}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.ninth, 'icon-arrow-down7': !accordion.status.ninth}"></i>
                    Void Period
                </accordion-heading>
                <p>With investment properties there is a risk of property sitting empty for a few months. A good rule of thumb is to have some cash buffer in the bank to cover void periods (emergency fund). </p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.tenth" ng-class="{'panel-primary': accordion.status.tenth}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.tenth, 'icon-arrow-down7': !accordion.status.tenth}"></i>
                    Insurance
                </accordion-heading>
                <p>It’s your responsibility to make sure that your tenants are as safe as possible but accidents do happen and that’s why you need public liability insurance. It protects you and your buy to let property against claims made by tenants for personal injury or damage to their possessions arising from incidents connected with your property.</p>
                <p>If the tenant makes a claim against you, and you’re found to be legally liable, Public Liability Insurance will cover you for:</p>
                <ul class="list-arrows">
                    <li>Damages awarded to the claimant</li>
                    <li>Your legal costs in defending a claim</li>
                    <li>The claimant’s legal costs, if you’re at fault</li>
                </ul>
                <p>Take the time and make sure you have adequate insurance cover for yourself and your investment. It’ll give you peace of mind, knowing you’re protected against potential future claims.</p>
            </accordion-group>
            
            <accordion-group is-open="accordion.status.eleventh" ng-class="{'panel-primary': accordion.status.eleventh}">
                <accordion-heading>
                    <i class="pull-left" ng-class="{'icon-arrow-up6': accordion.status.eleventh, 'icon-arrow-down7': !accordion.status.eleventh}"></i>
                    Property Maintenance
                </accordion-heading>
                <p>it is advisable to consider setting aside 10% of rental income to cover maintenance. </p>
            </accordion-group>
        </accordion>
    </div>
</section>

<section class="large-section text-center cta-section v2">
    <div class="container">
        <h2>Start your Investment <span>Journey</span></h2>
<!--        <h5>Find a Property Now</h5>-->
        <pc-search-form keywords="keywords" redirect="/search"></pc-search-form>
    </div>
</section>


<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>