<header>
    <!-- nav template --> 
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
</header>
<section class="large-section text-center why-list">
    <div class="container">
        <h2>Why List on <span>nello?</span></h2>
        
        <div class="row">
            <div class="col-md-4">
                <div class="feature-box-icon">
                    <i class="icon icon-megaphone"></i>
                    <p>Advertise your property to thousands of property investors.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box-icon">
                    <i class="icon-target"></i>
                    <p>We match your property to the right investor.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-box-icon">
                    <i class="icon-eye"></i>
                    <p>We send you qualified leads, verifying investors to make sure they have the funds to move on a property.</p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn btn-lg btn-3d btn-fullwidth">Start your 3 Months Trial</button>
                <h5>It's Free</h5>
            </div>
        </div>
    </div>
</section>

<section class="large-section faq">
    <div class="container">
        <hgroup class="text-center">
            <h2><span>FAQ</span></h2>
            <h3>Here are some questions you might want to ask, so we have answered them for you</h3>
        </hgroup>
        
        <div class="row">
            <div class="col-md-6">
                <h4>Can we have multiple log ins per account?</h4>
                <p>Yes. You can add additional users to your account. Creating a new user is easy, log into your account and follow the instructions.</p>
            </div>
            <div class="col-md-6">
                <h4>Can i cancel my package at anytime?</h4>
                <p>Yes you can. You can cancel your package at any time. Log into your account and you can find the cancel button under your account settings.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>What happens at the end of the trial period?</h4>
                <p>Your listings will stay active for a few more days. Our team will get in touch to discuss how to upgrade your account.</p>
            </div>
            <div class="col-md-6">
                <h4>Is there any set up cost?</h4>
                <p>No. There is no set-up cost or hidden charges. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Is there a cost or charge for listing?</h4>
                <p>No. There is no cost involved. You can start uploading properties today for FREE.</p>
            </div>
            <div class="col-md-6">
                <h4>How long before new property listings are live on the website?</h4>
                <p>Almost immediately. However, allow a few hours for the listing to appear on the website. We might get in touch with you if there are any issues with the property you uploaded.</p>
            </div>
        </div>
        
    </div>
</section>


<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>