<header>
    <!-- nav template --> 
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
</header>

<section class="main-content">
    <div class="container">
        <h3>Favourites</h3>
        <div id="favourites_list">
            <article ng-repeat="property in favList.properties" class="property-listing" pc-remove-fav property-id="property.id" fav-update="favUpdate">
                <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <a ng-href="/property/{{property.id}}" class="property-img">
                                <img ng-show="!property.images[0].image" class="img-responsive" src="assets/images/no-image.jpg" alt="Image Not Available">
                                <img ng-show="property.images[0].image" class="img-responsive" ng-src="{{property.images[0].image}}" alt="{{property.alt}}">
                            </a>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6">
                            <div class="property-title-group">
                                <a ng-href="/property/{{property.id}}">{{property.price | customCurrency: "£"}}</a>
                                <a ng-click="removeFromFav(property.id)" class="add-to-fav" href=""><i class="icon-cross2"></i>Remove From Favourites</a>           
                            </div>
                            <p>{{property.address}}</p>
                            <div class="property-details-group">
                                <p class="beds">{{property.rooms}} Bed {{property.type.name}} for Sale</p>
                                <ul class="property-tags repossessed modernising auction dtv reduced">
                                    <li class="irepossessed">
                                        <i class="icon-library" tooltip="Reposessed" tooltip-placement="top" title="Reposessed"></i>
                                    </li>
                                    <li class="imodernising">
                                        <i class="icon-tools" tooltip="Need Modernising" tooltip-placement="top" title="Need Modernising"></i>
                                    </li>
                                    <li class="iauction">
                                        <i class="icon-auction" tooltip="Auction" tooltip-placement="top" title="Auction"></i>
                                    </li>
                                    <li class="idtv">
                                        <i class="icon-users" tooltip="Direct to Vendor" tooltip-placement="top" title="Direct to Vendor"></i>
                                    </li>
                                    <li class="ireduced">
                                        <i class="icon-chart" tooltip="Reduced in Price" tooltip-placement="top" title="Reduced in Price"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-6">
                            <h5 class="right-section-label">
                                Est. Rental Yield 
                                <i class="icon-help" tooltip="Estimated Rental Yield = Avg Annual Rental Income/ Asking Price of the Property." tooltip-placement="top" title="Estimated Rental Yield = Avg Annual Rental Income/ Asking Price of the Property."></i>
                            </h5>
                            <h3 class="right-section-value">{{property.yield | number : 1}}<span>%</span></h3>
                        </div>
                </div>
            </article>
        </div
    </div>
</section>

<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>
