<div class="input-group col-md-6 col-sm-9" ng-controller="SearchFormCtrl">
  <div class="icon-container">
    <i class="icon-search icon18-search"></i>
  </div>
  <input type="text" id="search_box" class="form-control form-control-icon searchbar" placeholder="e.g. Oxford, NW3 or Waterloo Station" ng-model="searchObject.keywords" required>
  <span class="input-group-btn">
    <button id="search" class="btn btn-default" type="button" ng-click="searchProperty()">Start Your Search</button>
  </span>
</div>
