<div class="video-slider">
    <div class="video-slider-wrapper" ng-class="{'video-on': video.status}">
        <div class="jumbotron jumbo-v2 dark">
            <h1>Property Investment just got a lot <span>Easier</span>.</h1>
            <button class="play-btn" ng-click="playVideo()">
              <i class="icon-play"></i>
            </button>
        </div>
        <div class="video">
            <!--<button class="play-btn" ng-click="playVideo()">
                <i class="icon-cross"></i>
            </button>-->
            <iframe width="100%" height="{{height}}" src="//www.youtube.com/embed/6uPOgJbBndA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>