<footer class="dark default-footer">
    <div class="container">
        <div class="top">
            <div class="left">
                <h6>© 2015 nello.</h6>
            </div>
            <div class="right">
                <ul class="footer-links">
                  <li><a ng-href="/pages/privacy_policy">Privacy Policy</a></li>
                  <li><a ng-href="/pages/terms_of_use">Terms of Service</a></li>
                  <li class="last"><a href="mailto:support@thenello.com">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="btm">
            <h6>Data on sold house prices provided by Land Registry/Registers of Scotland © Crown 2015.</h6>
        </div>
    </div>
</footer>