<nav class="navbar navbar-default" ng-controller="NavigationCtrl">
  <div class="container">
  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/pages/home">
        <img src="assets/images/nello-logo.png" alt="nello Logo" />
      </a>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div collapse="!isCollapsed" class="collapse navbar-collapse navbar-right">
        <ul class="nav navbar-nav">
            <li><a active-link="active" ng-href="/pages/learn_more">Learn More</a></li>
            <li><a active-link="active" ng-href="/pages/list_property">List a Property</a></li>
            <li ng-hide="!navData.showLoginButton">
                <a ng-class="{'active':dropOpenStatus}" href="" ng-click="toggleDropdown()">
                    <i class="icon-login"></i>
                    <span class="link-text">Log In</span>
                    <i ng-class="{'icon-arrow-down4':!dropOpenStatus, 'icon-arrow-up3':dropOpenStatus}" class="dropdown-caret"></i>
                </a>
                <ul ng-class="{'open':dropOpenStatus}" class="dropdown-menu">
                    <li>
                        <a href="/login">
                            <i class="icon-user3"></i>
                            <span class="link-text">Investor</span>
                        </a>
                    </li>
                    <li>
                        <a href="htt://pc.agency/login">
                            <i class="icon-office"></i>
                            <span class="link-text">Agency</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav" ng-show="navData.showLogin">
            <li>
                <a href="favourites.html">
                    <i class="icon-star"></i>
                    <span class="badge">6</span>
                    <span class="link-text">Favourites</span>
                </a>
            </li>
            <li class="username">
                <a ng-class="{'active':dropOpenStatus}" href="" ng-click="toggleDropdown()">
                    <i class="icon-user3"></i>
                    <span class="link-text">{{navData.fullname}}</span>
                    <i ng-class="{'icon-arrow-down4':!dropOpenStatus, 'icon-arrow-up3':dropOpenStatus}" class="dropdown-caret"></i>
                </a>
                <ul ng-class="{'open':dropOpenStatus}" class="dropdown-menu">
                    <li>
                        <a href="/logout" ng-click="logout()">
                            <i class="icon-logout"></i>
                            <span class="link-text">Log Out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<a class="btn feedback-btn" href="/pages/feedback">
    <i class="icon-comment"></i>
    <span>Feedback</span>
</a>
