<header>
    <!-- nav template --> 
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
</header>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary panel-password">
                    <div class="panel-heading">
                            <h4>Forgot your Password?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Enter your email address below and and we’ll email you a link to a page where you can easily create a new password. </p>
                        <div class="form-field-row last-row">
                            <h5>Email:</h5>
                            <div class="input-group col-sm-10 col-xs-12">
                                <div class="icon-container">
                                    <i class="icon-mail icon20-mail"></i>
                                </div>
                                <input type="email" class="form-control form-control-icon" placeholder="joe@example.com">
                            </div>
                        </div>
                        <div class="col-sm-offset-2">
                            <button data-toggle="modal" data-target="#email_sent" class="btn btn-lg btn-3d" type="button">Reset Password</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="email_sent" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                <i class="icon-cross icon18-cross"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Email Sent!</h4>
                            <p>We have emailed the link to your inbox.</p>
                            <div class="modal-actions">
                                <a ng-href="/search" class="btn btn-lg btn-3d" class="close" data-dismiss="modal">Go Back to Search Results</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>
