<!-- header template -->
<header id="sticky-header">
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
</header>

<div id="content-wrap"  pc-adj-height>
    <section class="main-content">
        <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary panel-password">
                    <div class="panel-heading">
                            <h4>Password Reset</h4>
                    </div>
                    <div class="panel-body">

                        <form class="validate">
                            <div class="form-field-row">
                                <h5>New Password:</h5>
                                <div class="input-group col-sm-9 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-lock icon20-lock"></i>
                                    </div>
                                    <input type="password" class="form-control form-control-icon" placeholder="5 to 15 characters" data-parsley-required="true">
                                </div>
                            </div>

                            <div class="form-field-row last-row">
                                <h5>Confirm Password:</h5>
                                <div class="input-group col-sm-9 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-lock icon20-lock"></i>
                                    </div>
                                    <input type="password" class="form-control form-control-icon" placeholder="5 to 15 characters" data-parsley-required="true">
                                </div>
                            </div>
                            <div class="col-sm-offset-3">
                                <button data-toggle="modal" data-target="#reset_success" class="btn btn-lg btn-3d">Reset Password</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="reset_success" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                <i class="icon-cross icon18-cross"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Success!</h4>
                            <p>Your password has been reset.</p>
                            <div class="modal-actions">
                                <a ng-href="/login" class="btn btn-lg btn-3d" class="close" data-dismiss="modal">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>
