<header>
    <!-- nav template --> 
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
</header>

<section class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <tabset class="login-tabs">
                    <tab heading="Log In" class="login-tab">
                        <p ng-show="!alert.failedLogin">Log In to save searches and track price changes.</p>
                        
                        <!--Failed registration-->
                        <div role="alert" class="alert alert-danger" ng-show="alert.failedLogin">
                            <i class="icon-warning"></i>
                            <span>Sorry!</span>
                            {{alert.loginMessage}}
                        </div>
                        
                        <form class="defaultForm">
                        
                            <div class="form-group form-field-row">
                                <h5 class="control-label">Email:</h5>
                                <div class="input-group col-sm-10 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-mail"></i>
                                    </div>
                                    <input type="email" name="email" ng-model="loginData.email" class="form-control form-control-icon" placeholder="joe@example.com">
                                </div>
                            </div>
                            
                            <div class="form-group form-field-row">
                                <h5 class="control-label">Password:</h5>
                                <div class="input-group col-sm-10 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-lock"></i>
                                    </div>
                                    <input type="password" name="password" ng-model="loginData.password" ng-minlength="5" ng-maxlength="15" class="form-control form-control-icon" placeholder="5 to 15 characters">
                                </div>
                                
                                <div class="terms col-sm-offset-2">
                                    <input id="remember1" type="checkbox" name="checkbox" ng-model="loginData.remember" class="styled">
                                    <label for="remember1"><span></span>Remember me on this computer</label>
                                </div>
                                <a ng-href="/forgot-password" class="forgot-password-link">Forgot Password?</a>
                            </div>
                            
                            <div class="col-sm-offset-2">
                                <button id="loggedIn" ng-click="login()" type="submit" class="btn btn-3d btn-lg">Log In</button>
                            </div>
                        </form>
                    </tab>
                    <tab heading="Create Account" class="create-account-tab">
                        <p ng-show="!alert.isError">Create a free account to save searches and track price changes. (It only takes a minute)</p>
                        
                        <!--Failed registration-->
                        <div role="alert" class="alert alert-danger" ng-show="alert.isError">
                                <i class="icon-warning"></i>
                                <span>Registration Error!</span> 
                                <ul>
                                    <li ng-repeat="message in alert.errorMessage">{{message}}</li>
                                </ul>
                        </div>
                        
                        <!--successful registration-->
                        <div role="alert" class="alert alert-success" ng-show="alert.success">
                            <i class="icon-thumbsup"></i>
                            <span>Success!</span> <p>You account has being created and an email will be sent shortly.</p>
                        </div>
                        
                        <!--Registration form-->
                        <form class="defaultForm">
                            <div class="form-group form-field-row">
                                <h5 class="control-label">First Name:</h5>
                                <div class="input-group col-sm-10 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-user"></i>
                                    </div>
                                    <input type="text" name="first_name" class="form-control form-control-icon" placeholder="Joe" ng-model="registerData.first_name">
                                </div>
                            </div>
                            <div class="form-group form-field-row">
                                <h5 class="control-label">Last Name:</h5>
                                <div class="input-group col-sm-10 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-user"></i>
                                    </div>
                                    <input type="text" name="last_name" class="form-control form-control-icon" placeholder="Bloggs" ng-model="registerData.last_name">
                                </div>
                            </div>
                            <div class="form-group form-field-row">
                                <h5 class="control-label">Email:</h5>
                                <div class="input-group col-sm-10 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-mail"></i>
                                    </div>
                                    <input type="email" name="email" class="form-control form-control-icon" placeholder="joe@example.com" ng-model="registerData.email" required>
                                </div>
                            </div>
                            
                            <div class="form-group form-field-row">
                                <h5 class="control-label">Password:</h5>
                                <div class="input-group col-sm-10 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-lock"></i>
                                    </div>
                                    <input type="password" name="password" class="form-control form-control-icon" placeholder="8 to 15 characters" ng-model="registerData.password" required>
                                </div>
                            </div>
                            <div class="form-group form-field-row">
                                <h5 class="control-label">Confirm:</h5>
                                <div class="input-group col-sm-10 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-lock"></i>
                                    </div>
                                    <input type="password" name="password_confirmation" class="form-control form-control-icon" placeholder="Confirm Password" ng-model="registerData.password_confirmation" required>
                                
                                    <div class="terms">
                                        <h6>By registering you accept our <a ng-href="/pages/terms_of_use">Terms of Service</a> and <a ng-href="/pages/privacy_policy">Privacy Policy</a>. You may unsubscribe or update your preferences at any time.</h6>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-offset-2">
                                <button type="submit" class="btn btn-3d btn-lg" ng-click="register()">Create Account</button>
                            </div>
                        </form>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</section>

<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>
