<!-- Facebook Conversion Code -->
<script>
    (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
            _fbq.loaded = true;
        }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6025932541371', {
        'value': '0.00',
        'currency': 'GBP'
    }]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6025932541371&amp;cd[value]=0.00&amp;cd[currency]=GBP&amp;noscript=1" /></noscript>

<!-- Google Code for Nello User registration Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 980247018;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "mdV9CMy92VoQ6sO10wM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border­style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/980247018/?label=mdV9CMy92VoQ6sO10wM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

<!-- header template -->
<header id="sticky-header">
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
</header>

<div id="content-wrap"  pc-adj-height>
    <section class="main-content">
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Registration Successful</h4>
                </div>
                <div class="panel-body">
                    <p>You account has been created and an email will be sent shortly. </p>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>
