<!-- header template -->
<header id="sticky-header">
    <ng-include src="'modules/shared/views/navigation-partial.html'"></ng-include>
</header>

<div id="content-wrap"  pc-adj-height>
    <section class="main-content">
        <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary panel-password">
                    <div class="panel-heading">
                        <h4>Reset Password</h4>
                    </div>
                    <div class="panel-body">
                        <!--Failed to Match Passwords-->
                        <div role="alert" class="alert alert-danger" ng-show="resetPass.dontMatch">
                            <i class="icon-warning"></i>
                            <span>Sorry!</span> The passwords don't match. Please, match passwords and try again.
                        </div>
                        
                        <form name="resetPassForm" novalidate>
                            <div class="form-field-row">
                                <h5>New Password:</h5>
                                <div class="input-group col-sm-9 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-lock icon20-lock"></i>
                                    </div>
                                    <input ng-model="resetPass.newPass" name="newPass" type="password" class="form-control form-control-icon" placeholder="5 to 15 characters" required ng-minlength='5' ng-maxlength='15'>
                                    <div class="error" ng-show="resetPass.formError">
                                        <div ng-show="resetPassForm.newPass.$error.required">Please enter your new password.</div>
                                        <div ng-show="resetPassForm.newPass.$error.minlength || resetPassForm.newPass.$error.maxlength">Password should be between 5 and 15 characters</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-field-row last-row">
                                <h5>Confirm Password:</h5>
                                <div class="input-group col-sm-9 col-xs-12">
                                    <div class="icon-container">
                                        <i class="icon-lock icon20-lock"></i>
                                    </div>
                                    <input ng-model="resetPass.confirmPass" name="confirmPass" type="password" class="form-control form-control-icon" placeholder="5 to 15 characters" required ng-minlength='5' ng-maxlength='15'>
                                    <div class="error" ng-show="resetPass.formError">
                                        <div ng-show="resetPassForm.confirmPass.$error.required">Please enter your new password.</div>
                                        <div ng-show="resetPassForm.confirmPass.$error.minlength || resetPassForm.confirmPass.$error.maxlength">Password should be between 5 and 15 characters</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-offset-3">
                                <button type="submit" ng-click="setNewPass()" class="btn btn-lg btn-3d">Reset Password</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="reset_success" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                <i class="icon-cross icon18-cross"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>Success!</h4>
                            <p>Your password has been reset. You can now log in to your account.</p>
                            <a ng-href="/sign/in" class="btn btn-lg btn-3d" class="close">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
<!-- footer template -->
<ng-include src="'modules/shared/views/footer.html'"></ng-include>
